html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#swal2-content {
  text-transform: capitalize;
}

.swal2-confirm {
  box-shadow: none !important;
}

.swal2-input-label {
  margin: 0 !important;
}

.swal2-actions {
  margin: 0 !important;
}

#swal2-title {
  text-transform: capitalize !important;
  margin: 0;
}

#swal2-input {
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
}
